<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Item</title>
  </head>
  <body>
    <h1>Edit Item</h1>
    <form action="/items/<%= item.id %>/update" method="post">
      <input
        type="hidden"
        name="department_id"
        value="<%= item.department_id %>"
      />
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%=item.name %>" />
      <label for="price">Price:</label>
      <input type="number" name="price" id="price" value="<%=item.price %>" />
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        value="<%=item.quantity %>"
      />
      <label for="description">Description:</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%=item.description %>"
      />
      <button type="submit">Update Item</button>
    </form>
    <form action="/items/<%= item.id %>/delete" method="POST">
      <input
        type="hidden"
        name="department_id"
        value="<%= item.department_id %>"
      />
      <button type="submit">Delete Item</button>
    </form>
  </body>
</html>
